<%- await include('./routes/frontend/header.ejs', { currentUser: null }) %>

<form method="POST" action="/api/v1/createsession" enctype="multipart/form-data">
    <h2>Signin</h2>
    <label> Username:
        <input type="text" name="username" />
    </label>
    <label> Password:
        <input type="password" name="password" />
    </label>
    <button>Signin</button>
</form>

<%- await include('./routes/frontend/footer.ejs') %>
